@media screen and (max-width: 320px){
  .container{
    background-color:aquamarine;
  }
  .logo{
  display: flex;
  }
  .limg{
    margin-top: 60px;
    margin-left: 100px;
    width:130px;
    height:20vh;
  }

  .btnbox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;

  }
  .btns{
    background-color: antiquewhite;
    width: 100%;
  }
  .first, .sec, .third{
    margin: 20px;
  }
  .one, .two, .three, .four, .five, .six, .seven, .eight, .nine{
    margin-left: 10px;
    margin-right: 10px;
    height: 70px;
    width: 70px;
  }
  


}