  .container{
    background-image: linear-gradient(to top, #dbf7cd, #ffce97);
  }
  .logo{
  display: flex;
  }
  .limg{
    margin-top: 60px;
    margin-left: 550px;
    width:350px;
    height:30vh;
  }

  .btnbox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 62vh;

  }
  .btns{
    background-image: linear-gradient(to top, #dbf7cd, #9496f3);
    width: 100%;
  }
  .first, .sec, .third{
    margin-left: 400px;
    margin-top: 40px;
  }
  .one, .two, .three, .four, .five, .six, .seven, .eight, .nine{
    margin-left: 30px;
    margin-right: 30px;
    height: 100px;
    width: 150px;
  }
  button{
    background-color: #03719C;
    color: aliceblue;
    font-size: 30px;
    font-family: cursive;
    border-radius: 15px;
  }

  button:hover {background-color: #0a8bbe}

  button:active {
    background-color: #0a8bbe;
    box-shadow: 0 5px #D8DCD6;
    transform: translateY(4px);
  }



/* ----------Laptop-------- */

@media screen and (max-width: 1030px){
  .container{
    background-image: linear-gradient(to top, #dbf7cd, #ffce97);
  }
  .logo{
  display: flex;
  }
  .limg{
    margin-top: 60px;
    margin-left: 440px;
    width:180px;
    height:25vh;
  }

  .btnbox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 68vh;

  }
  .btns{
    background-image: linear-gradient(to top, #dbf7cd, #9496f3);
    width: 100%;
  }
  .first, .sec, .third{
    margin-left: 280px;
    margin-top: 50px;
  }
  .one, .two, .three, .four, .five, .six, .seven, .eight, .nine{
    margin-left: 25px;
    margin-right: 25px;
    height: 110px;
    width: 120px;
  }
  button{
    background-color: #03719C;
    color: aliceblue;
    font-size: 30px;
    font-family: cursive;
    border-radius: 15px;
  }

  button:hover {background-color: #0a8bbe}

  button:active {
    background-color: #0a8bbe;
    box-shadow: 0 5px #D8DCD6;
    transform: translateY(4px);
  }

}


/* ---------- Tablet ------------- */

@media screen and (max-width: 769px){
  .container{
    background-image: linear-gradient(to top, #dbf7cd, #ffce97);
  }
  .logo{
  display: flex;
  }
  .limg{
    margin-top: 60px;
    margin-left: 310px;
    width:130px;
    height:20vh;
  }

  .btnbox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 71vh;

  }
  .btns{
    background-image: linear-gradient(to top, #dbf7cd, #9496f3);
    width: 100%;
  }
  .first, .sec, .third{
    margin-left: 150px;
    margin-top: 40px;
  }
  .one, .two, .three, .four, .five, .six, .seven, .eight, .nine{
    margin-left: 25px;
    margin-right: 25px;
    height: 90px;
    width: 100px;
  }
  button{
    background-color: #03719C;
    color: aliceblue;
    font-size: 30px;
    font-family: cursive;
    border-radius: 15px;
  }

  button:hover {background-color: #0a8bbe}

  button:active {
    background-color: #0a8bbe;
    box-shadow: 0 5px #D8DCD6;
    transform: translateY(4px);
  }

}


/* -------- Mobile L (425px) -------------- */

@media screen and (max-width: 426px){
  .container{
    background-image: linear-gradient(to top, #dbf7cd, #ffce97);
  }
  .logo{
  display: flex;
  }
  .limg{
    margin-top: 60px;
    margin-left: 140px;
    width:130px;
    height:20vh;
  }

  .btnbox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 71vh;

  }
  .btns{
    background-image: linear-gradient(to top, #dbf7cd, #9496f3);
    width: 100%;
  }
  .first, .sec, .third{
    margin: 20px;
    margin-left: 40px;
    margin-top: 40px;
  }
  .one, .two, .three, .four, .five, .six, .seven, .eight, .nine{
    margin-left: 20px;
    margin-right: 10px;
    height: 79px;
    width: 80px;
  }
  button{
    background-color: #03719C;
    color: aliceblue;
    font-size: 30px;
    font-family: cursive;
    border-radius: 15px;
  }

  button:hover {background-color: #0a8bbe}

  button:active {
    background-color: #0a8bbe;
    box-shadow: 0 5px #D8DCD6;
    transform: translateY(4px);
  }

}


/* ----------Mobile M (375px)---------- */
@media screen and (max-width: 376px){
  .container{
    background-image: linear-gradient(to top, #dbf7cd, #ffce97);
  }
  .logo{
  display: flex;
  }
  .limg{
    margin-top: 60px;
    margin-left: 120px;
    width:130px;
    height:20vh;
  }

  .btnbox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 71vh;

  }
  .btns{
    background-image: linear-gradient(to top, #dbf7cd, #9496f3);
    width: 100%;
  }
  .first, .sec, .third{
    margin: 20px;
    margin-left: 40px;
    margin-top: 50px;
  }
  .one, .two, .three, .four, .five, .six, .seven, .eight, .nine{
    margin-left: 10px;
    margin-right: 10px;
    height: 75px;
    width: 75px;
  }
  button{
    background-color: #03719C;
    color: aliceblue;
    font-size: 30px;
    font-family: cursive;
    border-radius: 15px;
  }

  button:hover {background-color: #0a8bbe}

  button:active {
    background-color: #0a8bbe;
    box-shadow: 0 5px #D8DCD6;
    transform: translateY(4px);
  }

}


/*------------- 320px css (mobile S) ------------*/
@media screen and (max-width: 320px){
  .container{
    background-image: linear-gradient(to top, #dbf7cd, #ffce97);
  }
  .logo{
  display: flex;
  }
  .limg{
    margin-top: 60px;
    margin-left: 100px;
    width:130px;
    height:20vh;
  }

  .btnbox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 71vh;

  }
  .btns{
    background-image: linear-gradient(to top, #dbf7cd, #9496f3);
    width: 100%;
  }
  .first, .sec, .third{
    margin: 20px;
    margin-top: 40px;
  }
  .one, .two, .three, .four, .five, .six, .seven, .eight, .nine{
    margin-left: 10px;
    margin-right: 10px;
    height: 70px;
    width: 70px;
  }
  button{
    background-color: #03719C;
    color: aliceblue;
    font-size: 30px;
    font-family: cursive;
    border-radius: 15px;
  }

  button:hover {background-color: #0a8bbe}

  button:active {
    background-color: #0a8bbe;
    box-shadow: 0 5px #D8DCD6;
    transform: translateY(4px);
  }

}
