@media screen and (max-width: 320px){
  .App{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:aquamarine;
  }
  .container{
    background-color: antiquewhite;
    width: 100%;
  }
  .first, .sec, .third{
    margin: 20px;
  }
  .one, .two, .three, .four, .five, .six, .seven, .eight, .nine{
    margin-left: 10px;
    margin-right: 10px;
    height: 70px;
    width: 70px;
  }
}